body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.main-header {
    background-color: #2196F3; 
    color: white;
    padding: 15px 50px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-header .logo a {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-decoration: none; 
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-nav li {
    margin-left: 20px;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #FFC107;
}

main {
    padding: 20px 50px;
}

.cv-section, .portfolio-section {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 20px; 
    
}

.main-footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 30px;
}

